<% if user_signed_in? %>
  <div class="container">
    <div class="row">
      <aside class="col-md-2">
        <section class="user_info">
          <%= render 'shared/user_info' %>
        </section>
        <section class="stats">
          <%= render 'shared/stats' %>
        </section>
        <section class="yotube_search">
          <%= render 'shared/youtube_search' %>
        </section>
        <section class="videopost_form">
          <%= render 'shared/videopost_form' %>
        </section>
      </aside>
      <div class="col-md-8">
        <h3>Videopost Feed</h3>
        <%= render 'shared/feed' %>
      </div>
    </div>
  </div>
<% else %>

<div class="center jumbotron">
  <h1>ComTubeへようこそ！</h1>

  <h2>
    これはComTubeのホームページです。
  </h2>

  <%= link_to "アカウントを作成しましょう！", new_user_registration_path, class: "btn btn-lg btn-primary" %>
</div>
<% end %>
