<% if user_signed_in? %>
  <div class="container">
    <div class="row">
      <aside class="col-md-4">
        <section class="user_info">
          <%= render 'shared/user_info' %>
        </section>
        <section class="stats">
          <%= render 'shared/stats' %>
        </section>
        <section class="yotube_search">
          <%= render 'shared/youtube_search' %>
        </section>
      </aside>
      <div class="col-md-8">
        <% if @video_ids.present? %>
          <% @video_ids.each do | video_id | %>
            <iframe id="ytplayer" type="text/html" width="320" height="195" src="https://www.youtube.com/embed/<%= video_id %>?autoplay=1&origin=http://localhost:3000/" frameborder="0"></iframe>
            <%= form_for(@videopost) do |f| %>
              <%= render 'shared/error_messages', object: f.object %>
              <div class="field">
                <%= f.hidden_field :content, value: "https://www.youtube.com/watch?v=#{ video_id }" %>
              </div>
              <%= f.submit "Videopostに追加する！", class: "btn btn-primary" %>
            <% end %>
            <br>
          <% end %>
        <% end %>
      </div>
<% end %>
