<% provide(:title, @user.name) %>
<% if user_signed_in? %>
<div class="main user-show">
  <div class="container">
    <div class="user">
      <h2><%= @user.name %></h2>
    </div>

      <div class="col-md-8">
        <%= render 'follow_form' if user_signed_in? %>
        <ul class="user-tabs">
          <li class="active"><%= link_to("投稿", "/users/#{@user.id}") %></li>
          <li><%= link_to("いいね!", "/users/#{@user.id}/likes") %></li>
        </ul>
        <% if @user.videoposts.any? %>
          <h3>Videoposts (<%= @user.videoposts.count %>)</h3>
          <ol class="videoposts">
            <%= render partial: "videoposts/videopost", collection: @videoposts %>
          </ol>
          <%= will_paginate @videoposts %>
        <% end %>
      </div>
    </div>
<% end %>
